/url
/elpa
/auto-save-list
/files-backup
projectile-bookmarks.eld
/semanticdb
bookmarks
/irony
projectile.cache
/eshell
network-security.data
amx-items
recentf
.lsp-session-v1
.DS_Store
*.cache
cquery-cache.d